@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: aliceblue; 
 }
 
 #overflow {
   background-image: url('https://i.ibb.co/277LmY3/laptop.jpg') !important;
   background-size: contain;
 }